---
layout: "layouts/base.njk"
permalink: "/en/index.html"
title: "AI.IHPAN.EDU.PL | AI tools for historical research"
lang: "en"
bodyClass: "bg-gray-50 text-gray-800 transition-colors duration-200 en"
showNav: false
footerVariant: "home"
githubButtons: true
fontWeights: "300;400;600;700"
alternateUrl: "/pl/"
alternateLang: "pl"
xDefaultUrl: "/pl/"
---
{% include "pages/home-content.njk" %}
