---
layout: "layouts/base.njk"
permalink: "/pl/index.html"
title: "AI.IHPAN.EDU.PL | AI w badaniach historycznych"
lang: "pl"
bodyClass: "bg-gray-50 text-gray-800 transition-colors duration-200 pl"
showNav: false
footerVariant: "home"
githubButtons: true
fontWeights: "300;400;600;700"
alternateUrl: "/en/"
alternateLang: "en"
xDefaultUrl: "/pl/"
---
{% include "pages/home-content.njk" %}
